.circle-done {
    background: #479030;
    width: 120px;
    height: 120px;
    text-align: center;
    border-radius: 50%;
    box-shadow: -1px 0px 17px -1px grey;
}

.circle-not-done {
    background: #BA6974;
    width: 120px;
    height: 120px;
    text-align: center;
    border-radius: 50%;
    box-shadow: -1px 0px 17px -1px grey;
}

.inside-circle {
    position: relative;
    color: white;
    top: 31%;
}

.inside-circle-red {
    position: relative;
    top: 40%;
    color: white;
}

.home {
    .card-title {
        text-align: center;
        // .label-md,
        // .label-ios {
        //     // border-bottom: #708D87 1px dotted
        // }
    }
    .circle-container,
    .note-container {
        margin-top: 10px;
        display: flex;
        justify-content: center;
    }
    ion-icon {
        font-size: 50px;
    }
    .tags-wrapper,
    {
        display: inline-flex;
    }
    .user-wrapper {
        display: inline-flex;
        width: 100%;
        justify-content: flex-end;
    }
    .tag {
        background-color: #246D5F;
        border-radius: 10%;
        margin: 3px;
        color: white;
        padding: 2px;
        max-width: 60px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .user-circle {
        background: #D1A7AC;
        width: 26px;
        height: 26px;
        color: white;
        text-align: center;
        border-radius: 50%;
        font-size: 10px;
        margin-right: 10px;
    }
    .user-letter {
        position: relative;
        top: 7px;
    }
}