// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";
@import "ionic.globals";
// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/
// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
$colors: ( primary : #708D87, secondary : #33cc33, danger : #f53d3d, light : #f6f4f7, dark : #222, superlight: #999999);
//common variable
$sub-label-color: #999999;
$superbooking-color: #fe763a;
$superbooking-color-dark: #f53d3d;
$superbooking-color-light: #f6f4f7;
//BookingList variables
$card-height: 150px;
$sub-header-segment-color: #f85c17;
$sub-header-segment-height: 30px;
$item-divider-height: 8px;
//Booking info variables
$header-segment-height: 50px;
$chat-bubble:( background-left: #ff782d, background-right: #ecf5fb, );
$refresher-text-color: #999999;
$refresher-icon-color: #999999;
// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
$list-ios-header-color: white;
$list-ios-header-background-color: #fcebe3;
$segment-button-ios-background-color-activated: #f99367;
// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
$segment-button-md-border-color-activated: #f99367;
// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here
// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.
@import "ionic.theme.default";
// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/
@import "ionic.ionicons";
// Fonts
// --------------------------------------------------
$font-family-base: "Poppins",
sans-serif !default;
@import "roboto";
@import "noto-sans";